AVAILABLE_EXCHANGES="coinbase,binance"
DEFAULT_EXCHANGE="binance"

BINANCE_API_KEY="Your Binance API KEY"
BINANCE_API_SECRET="Your Binance API SECRET"

COINBASE_API_KEY="Your Coinbase API KEY""
COINBASE_API_SECRET="Your Coinbase API SECRET""

# Internal API
API_ENDPOINT_PRICE="http://localhost/api/prices"

# Available modes
# "trade" to trade
# "live" to live trade throught WebSocket
# "backtest" to test a strategy for a given symbol pair and a period
DEFAULT_MODE="trade"
DEFAULT_STRATEGY="watcher"
# Allow trading "test" mode or "real" trading
DEFAULT_TRADING_MODE="test"
# Default candle size in seconds
DEFAULT_TRADE_CANDLESTICK_INTERVAL=60
DEFAULT_CURRENCY="BTC"
DEFAULT_ASSET="EUR"
# Default period for backtesting: string in UTC format or timestamp in milliseconds
DEFAULT_PERIOD_START="1 day ago UTC"
DEFAULT_PERIOD_END=""

DATABASE_URL="postgresql://postgres:password@127.0.0.1:15432/cryptobot"